
.env.sample
.env


/vendor/
/var/
/node_modules/
/public/bundles/
/public/build/
/config/jwt/private.pem
/config/jwt/public.pem

*.log
*.cache


src/frontend/node_modules/
/dist/
/.vite/


composer.lock


.idea/
.vscode/
*.swp
*.swo


compose.override.yaml

